In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("Assignment1Data_Sample.csv")
data.head()

,Object Number,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,Reign,Portfolio,...,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository,Tags
0,62.16,1674,American Decorative Arts,Side Chair,Side Chair,American,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Furniture,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Chairs
1,13.7.17,2430,American Decorative Arts,Pitcher,Covered Pitcher,American,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Ceramics,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Pitchers
2,33.85.11,6406,American Decorative Arts,Plate,Plate,Dutch,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Ceramics,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",NaN
3,69.194.109,7616,American Decorative Arts,Soup bowl,Soup Bowl,American,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Ceramics,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Bowls
4,2006.235.20,15012,American Decorative Arts,"Painting, miniature",Portrait of a Lady,American,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Paintings,NaN,http://www.metmuseum.org/art/collection/search...,5/13/2019 8:00,"Metropolitan Museum of Art, New York, NY",Pendants|Portraits|Women

In [4]:
data.shape

(204, 41)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 41 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Object Number            204 non-null    object
 1   Object ID                204 non-null    int64
 2   Department               203 non-null    object
 3   Object Name              203 non-null    object
 4   Title                    194 non-null    object
 5   Culture                  84 non-null     object
 6   Period                   31 non-null     object
 7   Dynasty                  9 non-null      object
 8   Reign                    5 non-null      object
 9   Portfolio                8 non-null      object
 10  Artist Role              127 non-null    object
 11  Artist Prefix            39 non-null     object
 12  Artist Display Name      127 non-null    object
 13  Artist Display Bio       108 non-null    object
 14  Artist Suffix            5 non-null      object
 15  Artist Nationality       87 non-null     object
 16  Artist Begin Date        98 non-null     object
 17  Artist End Date          97 non-null     object
 18  Object Date              199 non-null    object
 19  Object Begin Date        204 non-null    int64
 20  Object End Date          202 non-null    float64
 21  Medium                   202 non-null    object
 22  Dimensions               166 non-null    object
 23  Credit Line              204 non-null    object
 24  Geography Type           23 non-null     object
 25  City                     14 non-null     object
 26  State                    1 non-null      object
 27  County                   3 non-null      object
 28  Country                  32 non-null     object
 29  Region                   18 non-null     object
 30  Subregion                12 non-null     object
 31  Locale                   7 non-null      object
 32  Locus                    4 non-null      object
 33  Excavation               7 non-null      object
 34  River                    2 non-null      object
 35  Classification           173 non-null    object
 36  Rights and Reproduction  7 non-null      object
 37  Link Resource            204 non-null    object
 38  Metadata Date            204 non-null    object
 39  Repository               204 non-null    object
 40  Tags                     111 non-null    object
dtypes: float64(1), int64(2), object(38)
memory usage: 65.5+ KB

In [6]:
# choosing required columns
df = data[["Object ID","Department","Object Name","Title","Culture",
           "Artist Nationality","Object Begin Date","Object End Date",
          "Medium","Credit Line", "Country"]]
df.head()

,Object ID,Department,Object Name,Title,Culture,Artist Nationality,Object Begin Date,Object End Date,Medium,Credit Line,Country
0,1674,American Decorative Arts,Side Chair,Side Chair,American,NaN,1794,1799.0,"Mahogany, ebony, ash, birch, white pine","Friends of the American Wing Fund, 1962",United States
1,2430,American Decorative Arts,Pitcher,Covered Pitcher,American,NaN,1700,1900.0,Earthenware,"Rogers Fund, 1913",United States
2,6406,American Decorative Arts,Plate,Plate,Dutch,NaN,1740,1760.0,Earthenware,"Rogers Fund, 1933",Netherlands
3,7616,American Decorative Arts,Soup bowl,Soup Bowl,American,NaN,1885,1885.0,Porcelain,"Gift of Mr. and Mrs. Franklin Chace, 1969",United States
4,15012,American Decorative Arts,"Painting, miniature",Portrait of a Lady,American,NaN,1840,1840.0,Watercolor on ivory,"Fletcher Fund, 2006",NaN

In [7]:
df.shape

(204, 11)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Object ID           204 non-null    int64
 1   Department          203 non-null    object
 2   Object Name         203 non-null    object
 3   Title               194 non-null    object
 4   Culture             84 non-null     object
 5   Artist Nationality  87 non-null     object
 6   Object Begin Date   204 non-null    int64
 7   Object End Date     202 non-null    float64
 8   Medium              202 non-null    object
 9   Credit Line         204 non-null    object
 10  Country             32 non-null     object
dtypes: float64(1), int64(2), object(8)
memory usage: 17.7+ KB

In [9]:
# checking if "Object ID" is unique
df['Object ID'].value_counts()

Object ID
316760    2
100359    2
563318    2
486599    2
1674      1
         ..
286197    1
311479    1
312687    1
313019    1
824428    1
Name: count, Length: 200, dtype: int64

In [10]:
df.drop_duplicates(inplace=True) #dropping duplicates to get unique "Object ID"

In [11]:
df.shape

(200, 11)

In [12]:
df['Object ID'].value_counts() #"Object ID" is unique

Object ID
1674      1
488438    1
459471    1
466522    1
468605    1
         ..
286197    1
311479    1
312687    1
313019    1
824428    1
Name: count, Length: 200, dtype: int64

In [13]:
# changing datatype of certain columns
df.Department = df.Department.astype('category')
df.Culture = df.Culture.astype('category')
df['Artist Nationality']=df['Artist Nationality'].astype('category')
df['Credit Line'] = df['Credit Line'].astype('category')
df.Country = df.Country.astype('category')
df['Object End Date'] = df['Object End Date'].astype('Int64')

In [14]:
print(df.dtypes)

Object ID                int64
Department            category
Object Name             object
Title                   object
Culture               category
Artist Nationality    category
Object Begin Date        int64
Object End Date          Int64
Medium                  object
Credit Line           category
Country               category
dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 0 to 203
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Object ID           200 non-null    int64
 1   Department          199 non-null    category
 2   Object Name         199 non-null    object
 3   Title               190 non-null    object
 4   Culture             82 non-null     category
 5   Artist Nationality  85 non-null     category
 6   Object Begin Date   200 non-null    int64
 7   Object End Date     198 non-null    Int64
 8   Medium              198 non-null    object
 9   Credit Line         200 non-null    category
 10  Country             30 non-null     category
dtypes: Int64(1), category(5), int64(2), object(3)
memory usage: 21.6+ KB

In [16]:
# checking missing values
df.isna().sum()

Object ID               0
Department              1
Object Name             1
Title                  10
Culture               118
Artist Nationality    115
Object Begin Date       0
Object End Date         2
Medium                  2
Credit Line             0
Country               170
dtype: int64

In [17]:
# Checking the missing values further for "Department"
df.Department.value_counts(dropna=False)

Department
Drawings and Prints                          79
Costume Institute                            19
Photographs                                  15
European Sculpture and Decorative Arts       14
Greek and Roman Art                          12
Asian Art                                    11
Egyptian Art                                 10
Arms and Armor                                7
Modern and Contemporary Art                   6
Arts of Africa, Oceania, and the Americas     6
American Decorative Arts                      5
Islamic Art                                   4
Ancient Near Eastern Art                      4
Medieval Art                                  3
The Cloisters                                 3
Robert Lehman Collection                      1
NaN                                           1
Name: count, dtype: int64

In [18]:
# Replacing NaN with Unknown
df.Department = df.Department.cat.add_categories('Unknown')
df.Department.fillna('Unknown', inplace =True)
df.Department.value_counts(dropna=False)

Department
Drawings and Prints                          79
Costume Institute                            19
Photographs                                  15
European Sculpture and Decorative Arts       14
Greek and Roman Art                          12
Asian Art                                    11
Egyptian Art                                 10
Arms and Armor                                7
Modern and Contemporary Art                   6
Arts of Africa, Oceania, and the Americas     6
American Decorative Arts                      5
Islamic Art                                   4
Ancient Near Eastern Art                      4
Medieval Art                                  3
The Cloisters                                 3
Robert Lehman Collection                      1
Unknown                                       1
Name: count, dtype: int64

In [19]:
# Checking the missing values further for "Object Name"
df['Object Name'].value_counts(dropna=False)

Object Name
Print                   44
Drawing                 11
Photograph              11
Book                     9
Baseball card, print     7
                        ..
Chemisette               1
Jacket                   1
Necklace                 1
Gloves                   1
Print; ephemera          1
Name: count, Length: 109, dtype: int64

In [20]:
# Replacing NaN with Unknown
df['Object Name'].fillna('Unknown', inplace =True)
df['Object Name'].value_counts(dropna=False)

Object Name
Print                   44
Drawing                 11
Photograph              11
Book                     9
Baseball card, print     7
                        ..
Chemisette               1
Jacket                   1
Necklace                 1
Gloves                   1
Print; ephemera          1
Name: count, Length: 109, dtype: int64

In [21]:
# Checking the missing values further for "Title"
df.Title.value_counts(dropna=False)

Title
NaN                                              10
Ensemble                                          3
Fragment                                          3
Terracotta fragment of a kylix (drinking cup)     2
Evening dress                                     2
                                                 ..
Bird standard                                     1
Bead                                              1
New York Ledger: Bicycle Number                   1
Figure Studies                                    1
Landscape and Cattle                              1
Name: count, Length: 185, dtype: int64

In [22]:
# Replacing NaN with Unknown
df.Title.fillna('Unknown', inplace =True)
df.Title.value_counts(dropna=False)

Title
Unknown                                          10
Ensemble                                          3
Fragment                                          3
Terracotta fragment of a kylix (drinking cup)     2
Evening dress                                     2
                                                 ..
Bird standard                                     1
Bead                                              1
New York Ledger: Bicycle Number                   1
Figure Studies                                    1
Landscape and Cattle                              1
Name: count, Length: 185, dtype: int64

In [23]:
# Checking the missing values further for "Culture"
df.Culture.value_counts(dropna=False)

Culture
NaN                                       118
American                                   12
Greek, Attic                                7
French                                      7
Japan                                       6
Japanese                                    4
German                                      4
China                                       3
European                                    2
Cypriot                                     2
Italian, Venice                             2
British                                     2
probably French                             2
Spanish                                     1
Thailand                                    1
Timor                                       1
Romanian                                    1
Quechua                                     1
possibly Greek                              1
Minoan, Crete                               1
Minoan                                      1
possibly Spanish                            1
Mexican                                     1
probably German                             1
South Netherlandish                         1
Abelam people                               1
Italic                                      1
Italian                                     1
Iran                                        1
German, Silesia (Bunzlau)                   1
German, Hanau                               1
European, Eastern                           1
European or Middle Eastern                  1
Dutch                                       1
Catalan                                     1
Byzantine                                   1
British, Stoke-on-Trent, Staffordshire      1
British, Chelsea                            1
Aztec                                       1
Atlantic Watershed                          1
Asmat people                                1
India (Guler, Punjab Hills)                 1
Name: count, dtype: int64

In [24]:
# Replacing NaN with Unknown
df.Culture = df.Culture.cat.add_categories('Unknown')
df.Culture.fillna('Unknown', inplace =True)
df.Culture.value_counts(dropna=False)

Culture
Unknown                                   118
American                                   12
Greek, Attic                                7
French                                      7
Japan                                       6
Japanese                                    4
German                                      4
China                                       3
European                                    2
Cypriot                                     2
Italian, Venice                             2
British                                     2
probably French                             2
Spanish                                     1
Thailand                                    1
Timor                                       1
Romanian                                    1
Quechua                                     1
possibly Greek                              1
Minoan, Crete                               1
Minoan                                      1
possibly Spanish                            1
Mexican                                     1
probably German                             1
South Netherlandish                         1
Abelam people                               1
Italic                                      1
Italian                                     1
Iran                                        1
German, Silesia (Bunzlau)                   1
German, Hanau                               1
European, Eastern                           1
European or Middle Eastern                  1
Dutch                                       1
Catalan                                     1
Byzantine                                   1
British, Stoke-on-Trent, Staffordshire      1
British, Chelsea                            1
Aztec                                       1
Atlantic Watershed                          1
Asmat people                                1
India (Guler, Punjab Hills)                 1
Name: count, dtype: int64

In [25]:
# Checking the missing values further for "Artist Nationality"
df['Artist Nationality'].value_counts(dropna=False)

Artist Nationality
NaN                                                        115
American                                                    26
Italian                                                     10
Japanese                                                     4
French                                                       4
French|French                                                3
British                                                      3
Chinese                                                      2
Mexican                                                      2
Italian|Italian                                              2
American, born Russia                                        2
American|American                                            2
Dutch                                                        1
British|British                                              1
Scottish|British|British, Scottish|British|British           1
Netherlandish|German                                         1
Austrian                                                     1
Japanese|Japanese                                            1
Belgian                                                      1
Italian|Italian|Italian|Italian|Italian                      1
Italian|Italian|German                                       1
British, Scottish                                            1
Italian|British                                              1
Italian|Bohemian                                             1
German|American|American|American                            1
Dutch|Dutch|Dutch                                            1
German                                                       1
French|Italian                                               1
French|French|French|French|French|French                    1
French|French|French|French|French                           1
American|American|American                                   1
British|British|British|British|British|British|British      1
French|British                                               1
French, born Italy                                           1
Canadian                                                     1
Finnish|Finnish                                              1
French|French?|French                                        1
Name: count, dtype: int64

In [26]:
# Replacing NaN with Unknown
df['Artist Nationality'] = df['Artist Nationality'].cat.add_categories('Unknown')
df['Artist Nationality'].fillna('Unknown', inplace =True)
df['Artist Nationality'].value_counts(dropna=False)

Artist Nationality
Unknown                                                    115
American                                                    26
Italian                                                     10
Japanese                                                     4
French                                                       4
French|French                                                3
British                                                      3
Chinese                                                      2
Mexican                                                      2
Italian|Italian                                              2
American, born Russia                                        2
American|American                                            2
Dutch                                                        1
British|British                                              1
Scottish|British|British, Scottish|British|British           1
Netherlandish|German                                         1
Austrian                                                     1
Japanese|Japanese                                            1
Belgian                                                      1
Italian|Italian|Italian|Italian|Italian                      1
Italian|Italian|German                                       1
British, Scottish                                            1
Italian|British                                              1
Italian|Bohemian                                             1
German|American|American|American                            1
Dutch|Dutch|Dutch                                            1
German                                                       1
French|Italian                                               1
French|French|French|French|French|French                    1
French|French|French|French|French                           1
American|American|American                                   1
British|British|British|British|British|British|British      1
French|British                                               1
French, born Italy                                           1
Canadian                                                     1
Finnish|Finnish                                              1
French|French?|French                                        1
Name: count, dtype: int64

In [27]:
# Checking the missing values further for "Medium"
df.Medium.value_counts(dropna=False)

Medium
Commercial color lithograph                              11
Terracotta                                                8
Etching                                                   6
Engraving                                                 6
Gelatin silver print                                      5
                                                         ..
Stoneware                                                 1
Gilt bronze                                               1
Steel, silver, niello; case:  leather, silver, niello     1
Wool                                                      1
Sugar-lift aquatint with roulette                         1
Name: count, Length: 147, dtype: int64

In [28]:
# Replacing NaN with Unknown
df.Medium.fillna('Unknown', inplace =True)
df.Medium.value_counts(dropna=False)

Medium
Commercial color lithograph                              11
Terracotta                                                8
Etching                                                   6
Engraving                                                 6
Gelatin silver print                                      5
                                                         ..
Stoneware                                                 1
Gilt bronze                                               1
Steel, silver, niello; case:  leather, silver, niello     1
Wool                                                      1
Sugar-lift aquatint with roulette                         1
Name: count, Length: 147, dtype: int64

In [29]:
# Checking the missing values further for "Country"
df.Country.value_counts(dropna=False)

Country
NaN                       170
Egypt                      11
United States               3
France                      2
Indonesia                   2
Iran                        2
Mexico                      2
Costa Rica                  1
India                       1
Netherlands                 1
Papua New Guinea            1
Peru                        1
USA                         1
present-day France          1
present-day Uzbekistan      1
Name: count, dtype: int64

In [30]:
# Replacing NaN with Unknown
df.Country = df.Country.cat.add_categories('Unknown')
df.Country.fillna('Unknown', inplace =True)
df.Country.value_counts(dropna=False)

Country
Unknown                   170
Egypt                      11
United States               3
France                      2
Indonesia                   2
Iran                        2
Mexico                      2
Costa Rica                  1
India                       1
Netherlands                 1
Papua New Guinea            1
Peru                        1
USA                         1
present-day France          1
present-day Uzbekistan      1
Name: count, dtype: int64

In [31]:
# replace missing values with another column
df['Object End Date'] = df['Object End Date'].fillna(df['Object Begin Date'])

In [32]:
# Define a function to convert negative years to "BC"
def convert_to_bc(year):
    if year < 0:
        return f"{abs(year)} BC"
    else:
        return str(year)

In [33]:
# Apply the function to the "Object Begin Date"
df['Object Begin Date'] = df['Object Begin Date'].apply(convert_to_bc)

In [34]:
df['Object Begin Date'].unique()

array(['1794', '1700', '1740', '1885', '1840', '1701', '1770', '1580',
       '1501', '1590', '1800', '1037', '206 BC', '300 BC', '1877', '1838',
       '1966', '1790', '1983', '1980', '1949', '1959', '1950', '1976',
       '1967', '2003', '1875', '1776', '1848', '1938', '1755', '1570',
       '1750', '1600', '1775', '325 BC', '3200 BC', '800 BC', '524 BC',
       '1600 BC', '2000 BC', '1860', '1981', '1945', '1858', '1922',
       '1880', '1934', '1933', '1908', '1900', '1400', '300', '1200',
       '1850', '3505 BC', '2500 BC', '7000 BC', '1895', '1696', '1584',
       '1632', '1902', '1930', '1899', '1866', '1500', '1677', '1745',
       '1548', '1591', '1650', '1743', '1876', '1643', '1957', '1535',
       '1935', '1887', '1581', '1758', '1614', '1636', '1810', '1910',
       '1909', '1300', '1490', '1250', '1100', '1510', '1940', '1904',
       '1989', '1981 BC', '1295 BC', '3450 BC', '3900 BC', '1473 BC',
       '2124 BC', '1390 BC', '1972', '1841', '1936', '1585', '1951',
       '1970', '1954', '1795', '1912', '1961', '1890', '1941', '1921',
       '1554', '1851', '1870', '500 BC', '1125', '1782', '1842', '530 BC',
       '1530', '1884', '1545', '1960', '1784', '1865', '1872', '0',
       '1978', '1953', '1942', '1979', '1525'], dtype=object)

In [35]:
# Apply the function to the "Object End Date"
df['Object End Date'] = df['Object End Date'].apply(convert_to_bc)

In [36]:
df['Object End Date'].unique()

array(['1799', '1900', '1760', '1885', '1840', '1800', '1852', '1580',
       '1600', '1850', '1101', '206 BC', '400', '1899', '1897', '1838',
       '1966', '1810', '1987', '1989', '1984', '1967', '1949', '1959',
       '1939', '1980', '2004', '1943', '1950', '1750', '1765', '1780',
       '1699', '1815', '275 BC', '2000 BC', '501 BC', '475 BC', '1450 BC',
       '1869', '1981', '1945', '1862', '1922', '1889', '1934', '1908',
       '2000', '800', '3100 BC', '2500 BC', '5000 BC', '1895', '1770',
       '1642', '1890', '1902', '1940', '1910', '1866', '1560', '1625',
       '1755', '1612', '1666', '1914', '1650', '1743', '1876', '1875',
       '1653', '1957', '1611', '1887', '1581', '1758', '1935', '1620',
       '1548', '1636', '1931', '1820', '1909', '1499', '1999', '1299',
       '1270', '1150', '1520', '1904', '1981 BC', '1295 BC', '3300 BC',
       '3650 BC', '1458 BC', '2124 BC', '1390 BC', '1640 BC', '1975 BC',
       '1972', '1851', '1936', '1585', '1951', '1970', '1954', '1795',
       '1912', '1961', '1941', '1554', '1929', '1879', '450 BC', '1275',
       '1782', '1842', '1550', '1884', '1545', '400 BC', '1905', '1975',
       '300 BC', '1784', '1865', '1872', '0', '1978', '1953', '1942',
       '1979', '1535'], dtype=object)

In [37]:
#drop rows where both dates missing
df = df.drop(df[(df['Object Begin Date'] == '0') & (df['Object End Date'] == '0')].index)

In [38]:
df.shape #only one row dropped

(199, 11)

In [39]:
# checking if data values are consistent
df.Department.value_counts(dropna=False) #consistent

Department
Drawings and Prints                          79
Costume Institute                            19
Photographs                                  15
European Sculpture and Decorative Arts       14
Greek and Roman Art                          12
Asian Art                                    11
Egyptian Art                                 10
Arms and Armor                                7
Modern and Contemporary Art                   6
Arts of Africa, Oceania, and the Americas     6
American Decorative Arts                      5
Islamic Art                                   4
Medieval Art                                  3
Ancient Near Eastern Art                      3
The Cloisters                                 3
Robert Lehman Collection                      1
Unknown                                       1
Name: count, dtype: int64

In [40]:
df['Object Name'].value_counts(dropna=False) #consistent

Object Name
Print                   44
Photograph              11
Drawing                 11
Book                     9
Baseball card, print     7
                        ..
Chemisette               1
Jacket                   1
Necklace                 1
Gloves                   1
Print; ephemera          1
Name: count, Length: 108, dtype: int64

In [41]:
df['Title'].value_counts(dropna=False) #consistent

Title
Unknown                                          10
Ensemble                                          3
Fragment                                          3
Terracotta fragment of a kylix (drinking cup)     2
Evening dress                                     2
                                                 ..
Sherd                                             1
Bird standard                                     1
Bead                                              1
New York Ledger: Bicycle Number                   1
Landscape and Cattle                              1
Name: count, Length: 184, dtype: int64

In [42]:
df['Culture'].value_counts(dropna=False) #needs modification

Culture
Unknown                                   117
American                                   12
Greek, Attic                                7
French                                      7
Japan                                       6
Japanese                                    4
German                                      4
China                                       3
European                                    2
Cypriot                                     2
Italian, Venice                             2
British                                     2
probably French                             2
Spanish                                     1
Thailand                                    1
Timor                                       1
Romanian                                    1
Quechua                                     1
possibly Greek                              1
Minoan, Crete                               1
Minoan                                      1
possibly Spanish                            1
Mexican                                     1
probably German                             1
South Netherlandish                         1
Abelam people                               1
Italic                                      1
Italian                                     1
Iran                                        1
German, Silesia (Bunzlau)                   1
German, Hanau                               1
European, Eastern                           1
European or Middle Eastern                  1
Dutch                                       1
Catalan                                     1
Byzantine                                   1
British, Stoke-on-Trent, Staffordshire      1
British, Chelsea                            1
Aztec                                       1
Atlantic Watershed                          1
Asmat people                                1
India (Guler, Punjab Hills)                 1
Name: count, dtype: int64

In [43]:
# Function to clean the 'Culture' column
def clean_culture(culture):
    # Remove uncertainty words like 'possibly' and 'probably'
    culture = culture.replace('possibly ', '').replace('probably ', '')
    # Split by commas, take the first part (primary culture), and strip spaces
    primary_culture = culture.split(',')[0].strip()
    return primary_culture

In [44]:
# Apply the function to the column
df.Culture = df.Culture.apply(clean_culture)
df['Culture'].value_counts(dropna=False)

Culture
Unknown                       117
American                       12
French                          9
Greek                           8
German                          7
Japan                           6
Japanese                        4
British                         4
China                           3
Italian                         3
European                        3
Minoan                          2
Cypriot                         2
Spanish                         2
Romanian                        1
Quechua                         1
South Netherlandish             1
Catalan                         1
Byzantine                       1
Iran                            1
Timor                           1
Mexican                         1
Abelam people                   1
India (Guler                    1
Atlantic Watershed              1
Aztec                           1
Asmat people                    1
Thailand                        1
Italic                          1
Dutch                           1
European or Middle Eastern      1
Name: count, dtype: int64

In [45]:
df['Culture'] = df['Culture'].replace('Japan','Japanese').replace('China','Chinese').replace('Iran','Iranian').replace('India (Guler','Indian').replace('Italic','Italian')
df['Culture'].value_counts(dropna=False)

Culture
Unknown                       117
American                       12
Japanese                       10
French                          9
Greek                           8
German                          7
British                         4
Italian                         4
Chinese                         3
European                        3
Minoan                          2
Cypriot                         2
Spanish                         2
Romanian                        1
Quechua                         1
South Netherlandish             1
Catalan                         1
Byzantine                       1
Iranian                         1
Timor                           1
Mexican                         1
Abelam people                   1
Indian                          1
Atlantic Watershed              1
Aztec                           1
Asmat people                    1
Thailand                        1
Dutch                           1
European or Middle Eastern      1
Name: count, dtype: int64

In [46]:
df['Artist Nationality'].value_counts(dropna=False) #needs modification

Artist Nationality
Unknown                                                    114
American                                                    26
Italian                                                     10
Japanese                                                     4
French                                                       4
French|French                                                3
British                                                      3
Chinese                                                      2
Mexican                                                      2
Italian|Italian                                              2
American, born Russia                                        2
American|American                                            2
Dutch                                                        1
British|British                                              1
Scottish|British|British, Scottish|British|British           1
Netherlandish|German                                         1
Austrian                                                     1
Japanese|Japanese                                            1
Belgian                                                      1
Italian|Italian|Italian|Italian|Italian                      1
Italian|Italian|German                                       1
British, Scottish                                            1
Italian|British                                              1
Italian|Bohemian                                             1
German|American|American|American                            1
Dutch|Dutch|Dutch                                            1
German                                                       1
French|Italian                                               1
French|French|French|French|French|French                    1
French|French|French|French|French                           1
American|American|American                                   1
British|British|British|British|British|British|British      1
French|British                                               1
French, born Italy                                           1
Canadian                                                     1
Finnish|Finnish                                              1
French|French?|French                                        1
Name: count, dtype: int64

In [47]:
# Function to clean "Artist Nationality"
def clean_nationality(nationality):
    # Replace '?' and split by both '|' and ', '
    nationalities = nationality.replace('?', '').replace(', ', '|').split('|')
    # Remove duplicates by converting to set and join them with ', '
    return ', '.join(sorted(set(nationalities)))

In [48]:
# Apply the function to the column
df['Artist Nationality'] = df['Artist Nationality'].apply(clean_nationality)
df['Artist Nationality'].value_counts(dropna=False)

Artist Nationality
Unknown                  114
American                  29
Italian                   13
French                    10
Japanese                   5
British                    5
Dutch                      2
Chinese                    2
Mexican                    2
British, Scottish          2
American, born Russia      2
Finnish                    1
British, Italian           1
Austrian                   1
Canadian                   1
German, Italian            1
British, French            1
German                     1
French, Italian            1
German, Netherlandish      1
Bohemian, Italian          1
Belgian                    1
French, born Italy         1
American, German           1
Name: count, dtype: int64

In [49]:
df.Medium = df.Medium.replace('[no medium available]','Unknown')

In [50]:
df.Medium.value_counts(dropna=False)

Medium
Commercial color lithograph                              11
Terracotta                                                8
Etching                                                   6
Engraving                                                 6
Gelatin silver print                                      5
                                                         ..
Gold                                                      1
Stoneware                                                 1
Gilt bronze                                               1
Steel, silver, niello; case:  leather, silver, niello     1
Sugar-lift aquatint with roulette                         1
Name: count, Length: 146, dtype: int64

In [51]:
df['Credit Line'].value_counts(dropna=False) #consistent

Credit Line
The Jefferson R. Burdick Collection, Gift of Jefferson R. Burdick                          20
Gift of Dietrich von Bothmer, Distinguished Research Curator, Greek and Roman Art, 2011     6
Walker Evans Archive, 1994                                                                  3
Gift of William Brewster, 1923                                                              3
H. O. Havemeyer Collection, Bequest of Mrs. H. O. Havemeyer, 1929                           3
                                                                                           ..
Gift of Lincoln Kirstein, 1986                                                              1
Gift of Linda A. Rosenthal, 1993                                                            1
Gift of Lita Osmundsen, 1992                                                                1
Gift of Lucien Goldschmidt, 1981                                                            1
Gift of Samuel T. Peters, 1913                                                              1
Name: count, Length: 153, dtype: int64

In [52]:
df.Country.value_counts(dropna=False)

Country
Unknown                   170
Egypt                      11
United States               3
France                      2
Indonesia                   2
Mexico                      2
Costa Rica                  1
India                       1
Iran                        1
Netherlands                 1
Papua New Guinea            1
Peru                        1
USA                         1
present-day France          1
present-day Uzbekistan      1
Name: count, dtype: int64

In [53]:
# Function to clean the 'Country' column
def clean_country(country):
    # Remove 'present-day'
    country = country.replace('present-day ', '')
    return country

In [54]:
# Apply the function to the column
df.Country = df.Country.apply(clean_country)
df.Country.value_counts(dropna=False)

Country
Unknown             170
Egypt                11
United States         3
France                3
Indonesia             2
Mexico                2
Netherlands           1
Costa Rica            1
Papua New Guinea      1
Peru                  1
India                 1
Iran                  1
Uzbekistan            1
USA                   1
Name: count, dtype: int64

In [55]:
df.to_csv("Cleaned Assignment1.csv")